:root {
  --branco: rgb(245, 245, 245);
  --azul-claro: rgb(119, 152, 171);
  --azul: rgb(58, 67, 94);
  --azul-escuro: rgb(49, 62, 80);
  --cinza-escuro: rgb(156, 156, 156);
  --cinza-claro: rgb(204, 204, 204);
  --preto: rgb(0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: var(--branco);
}

hr {
  width: 30%;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

main {
  margin: auto;
  max-width: 90%;
}

a {
  color: var(--branco);
}

a:visited {
  color: var(--azul-claro);
}

header {
  background-image: url(imagens/oCover.png);
  background-repeat: repeat;
  background-blend-mode: color-burn;
  background-color: var(--azul-escuro);
  color: var(--branco);
  background-size: contain;
  text-align: center;
  padding: 2rem;
}

.link_btn {
  color: black;
  display: block;
}
button,
.link_btn {
  margin-top: 0.5rem;
  padding: 1em;
  border-radius: 32px;
  font-size: 1rem;
  background-color: var(--branco);
  border: 1px solid var(--azul-claro);
}

button:hover,
.link_btn:hover {
  color: var(--branco);
  background-color: var(--azul-claro);
  cursor: pointer;
}

h1 {
  font-size: 3rem;
}

section {
  margin-inline: auto;
}

.sessao__titulo {
  gap: 0.5rem;
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.sessao__titulo img {
  rotate: 90deg;
  width: 6vh;
}

.conteudo__img img {
  height: 100%;
  width: 100%;
  aspect-ratio: 1/0.6;
  border-radius: 32px;
  object-fit: cover;
  filter: grayscale(100%);
}

main > * {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.sessao-historia button {
  margin-top: 16px;
}
.sessao-eventos {
  text-align: center;
}

.sessao-paises {
  background-color: var(--azul);
  justify-content: center;
  color: var(--branco);
  box-shadow: 0 0 0 100vmax var(--azul);
  clip-path: inset(0 -100vmax);
  padding: 1rem;
}

.contato__lista {
  gap: 2rem;
  display: flex;
  justify-content: center;
}

.historia__conteudo {
  margin-top: 1em;
  width: 100%;
  margin: auto;
  gap: 0.5rem;
  display: flex;
}

.historia__conteudo > * {
  flex-basis: 100%;
}

table,
td,
th {
  border: 1px solid var(--branco);
  border-collapse: collapse;
}

.sessao-paises__tabela {
  margin-inline: auto;
  width: 100%;
  text-align: center;
}

.precos {
  display: grid;
  grid-auto-columns: 1fr;
}

.precos > * {
  text-align: center;
}

.precos-box > .conteudo {
  border: 1px solid var(--preto);
  border-radius: 16px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.numero-preco {
  font-size: 2rem;
}

.rodape__contato {
  align-items: center;
  justify-content: space-evenly;
  color: var(--branco);
  gap: 1rem;
}

footer {
  background-color: var(--azul-escuro);
  color: var(--branco);
  min-height: 10rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.artigos-grid > * {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: auto;
}

.artigos-grid button,
.link_btn {
  padding: 1em;
  width: fit-content;
  margin-bottom: 1rem;
}

.artigos-grid img {
  width: 100%;
  object-fit: cover;
  border-radius: 32px 32px 0 0;
  aspect-ratio: 1/0.8;
}

.verao img {
  object-position: top left;
  width: 100%;
  object-fit: cover;
  border-radius: 32px 32px 0 0;
  aspect-ratio: 1/0.8;
}

.artigo__conteudo {
  background-color: var(--cinza-claro);
  border-radius: 0 0 32px 32px;
  padding: 1em;
}

.artigo__conteudo > p {
  padding: 0.5em;
}

.artigos-grid h3 {
  border: 1px solid var(--preto);
  border-radius: 32px;
  background-color: var(--cinza-escuro);
  margin-top: -2rem;
  font-size: 1rem;
  position: relative;
  padding: 0.2em;
}

.artigos-grid > * {
  text-align: center;
}

.sessao--margem {
  margin-inline: auto;
}

.sessao-precos button {
  margin-bottom: 1rem;
  width: fit-content;
  min-width: fit-content;
}

@media (min-width: 500px) {
  .sessao__titulo img {
    rotate: 0deg;
    width: 6vw;
  }

  .precos {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

@media (min-width: 700px) {
  .artigos-grid img {
    aspect-ratio: 1/0.5;
  }
}

@media (max-width: 430px) {
  .artigos-grid > * {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1050px) {
  section {
    margin-inline: auto;
    width: 66vw;
  }

  .artigos-grid > * {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .artigos-grid img {
    aspect-ratio: 1/1;
    /* aspect-ratio: 1 / calc(1 - (var(--order) * 0.1));
  */
  }
  .botao-voltar {
    position: absolute;
  }
}

.hide {
  display: none;
}

.articlePage img {
  aspect-ratio: 1/1;
  height: 50%;
}

.artigo > a {
  order: 1;
}
.artigo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#article {
  text-align: center;
  margin: auto;
  width: 20vw;
}
.article img {
  width: 100%;
  max-height: 30vh;
  object-fit: cover;
  border-radius: 32px 32px 0 0;
  aspect-ratio: 0.6/1;
}
